/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt { quick_tap_ms = <200>; };

/ {
    keymap {
      behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
      };
      compatible = "zmk,keymap";
      default_layer {
        bindings = <
    &kp Q       &kp W        &kp E        &kp R       &kp T                &kp Y      &kp U       &kp I          &kp O         &kp P
    &hm LGUI A  &hm LSHFT S  &hm LCTRL D  &hm LALT F  &kp G                &kp H      &hm RALT J  &hm RCTRL K    &hm RSHFT L   &hm RGUI SEMI
    &kp Z       &kp X        &kp C        &kp V       &kp B                &kp N      &kp M       &kp COMMA      &kp DOT       &kp FSLH
                             &kp BSPC   &lt 3 TAB  &lt 1 SPC               &lt 2 RET         &kp BSPC       &lt 4 ESC
        >;
      };
      lower_layer {
        bindings = <
    &kp LG(SPC)     &kp LG(LC(N1))  &kp LG(LC(N2)) &kp LG(LC(N3)) &kp LG(LC(N4))     &kp LBKT  &kp N7  &kp N8 &kp N9 &kp RBKT
    &kp LG(LS(SPC)) &kp LG(J)       &kp LG(K)      &kp LG(L)      &kp LG(SEMI)       &kp SQT   &kp N4	 &kp N5 &kp N6 &kp EQUAL
    &kp LG(LS(Q))   &kp LG(N1)      &kp LG(N2)     &kp LG(N3)     &kp LG(N4)         &kp MINUS &kp N1  &kp N2 &kp N3 &kp BSLH
                                    &trans         &trans         &trans             &trans    &kp DOT &kp N0
        >;
      };
      raise_layer {
        bindings = <
    &trans   &kp F1		&kp F2   &kp F3 	&kp F4     &kp PG_UP   &kp HOME 	&trans   &trans 		&trans
    &trans   &kp F5		&kp F6   &kp F7 	&kp	F8     &kp LEFT    &kp DOWN 	&kp UP   &kp RIGHT 	&kp COLON
    &trans   &kp F9		&kp F10  &kp F11 	&kp F12    &kp PG_DN   &kp END 	  &kp DEL  &trans 	  &kp QMARK
                      &trans   &trans   &trans     &trans      &trans     &trans
        >;
      };
      con_layer {
          bindings = <
    &kp LC(LS(T)) &kp LC(LS(TAB)) &kp LC(W) &kp LC(TAB) &kp LC(T)    &kp LBRC  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RBRC
    &kp LC(Z)     &kp LC(X)       &kp LC(C) &kp LC(V)   &kp LC(Y)    &kp DQT   &kp DLLR  &kp PRCNT  &kp CARET &kp PLUS
    &trans        &kp LA(B)       &kp LA(D) &kp LA(F)   &kp LC(1)    &kp UNDER &kp EXCL  &kp AT     &kp HASH  &kp PIPE
                                  &trans    &trans      &trans       &trans    &trans    &kp RPAR
          >;
        };
      adj_layer {
          bindings = <
    &bt BT_CLR &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans    &trans    &trans    &trans    &trans
    &bt BT_NXT &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
    &bt BT_PRV &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                            &trans    &trans    &trans    &trans    &trans    &trans
          >;
        };
    };
};